.numIn {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border-width: 2px;
  border-color: black;
  font-size: 50px;
}

.gameboard, .gameboard *{
  border-collapse: collapse;
  padding: 0;
}

.button {
  border-style: solid;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
  width: 10%;
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: serif;
}

.button:hover {
  background-color: white;
  color: black;
}

#help {
  cursor: help;
}

#helpbox {
  display: none;
  background-color: lightgreen;
}
